.carousel {
  width: 100vw;
  height: 100vh;
  /* white-space: nowrap; */
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}
.carousel > * {
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
  width: 100vw;
  height: 100%;
  position: relative;
}
/* .dark { 
  /* background-color: #1b1b1b; */
  background-color: #44eb7c;
}
.light {
  background-color: #fff;
} */
/* #x {
    background-color: rgb(194, 161, 231);
    background-color: #F5004F;
}
#y {
    background-color: rgb(114, 8, 253);
    background-color: #333;
}
#z {
    background-color: black;
} */
#a {
  background-color: #ffffff;
}
#b{
  
  background-color: #44eb7c;
}
#c{
  background-color: #000000;
}
