.slider__content{  
    width: 100%; 
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    /* background:  linear-gradient(to bottom, transparent, #121212); */
    padding: 90px 0;
}
.slider__content-section, .slider__content-header,.slider__content-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: inherit;
}
/* Textos */
.title-one, .title-two{
    color: white;
    font-size: 40px;
    text-align: center; 
    margin: 0;
}
.text{
    margin: 5px 20px;
    font-size: small;
    color: white;
    text-align: center;
    max-width: 900px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    /* hyphens: auto; */
    display: inline-block;
}
.lm-txt{
    color: black;
}
.img-object{
    object-fit: cover;
    height: 100%;
}
.img-slide-first{
    width: 40%;
}
/* Paneles de datos 2 columnas */
.panel-data{
    width: 90%;
    display: flex;
    margin: 20px auto;
    justify-content: center;
}
.tab{
    padding: 0 10px;
}
.tab:nth-child(2){
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}
.header-tab{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    display: block;
    color: white; 
}
.section-tab{
    text-align: center;
    display: block;
    color: white;
    font-size: small;
}
/* botones */
.btn-slide{
    background-color: transparent;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 14px;  
    text-transform: uppercase;
    outline: none;
    margin: 10px 0;
    text-align: center;
}
.lm{
    border: 3px solid black;
    color: black;
}
.dm{
    border: 3px solid white;
    color: white;
}
.btn-slide.dm:hover{
    background-color: #ffffff; 
    color: #000000;
    transition-duration: .3s;
}
.btn-slide.lm:hover{
    background-color: #000000; 
    color: #ffffff;
    transition-duration: .3s;
}
@media only screen and (max-width: 768px) {
    .btn-slide{
        width: 80%;
    }
    .img-slide-first{
        width: 80%;
    }
    .carousel{
        scroll-behavior: initial;
        scroll-snap-type: none;
    }
    .carousel > * {
        height: 720px;
    }
} 
@media only screen and (max-width: 468px) {
    .img-slide-first{
        width: 100%;
    }
} 