@import "loader.css";
@import "dotnav.css";
@import "carousel.css";
@import "content-slider.css";
@import "top-nav.css";
@import "responsive.css";
@import "logo.css";
@import "icon.css";

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Work+Sans&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
.back-img{
  width: 100%;
  height: 100%; 
  object-fit: cover ;
}

.icon-menu img{ 
  display: none;
}
.menu-close ul{
  display: none;
}

.ov-hidden{
  overflow: hidden;
}
a{
  text-decoration: none;
}
.footer{ 
  position: absolute;
  bottom: 0; 
  right: 0;
  left: 0;
  padding: 5px 20px;
  background: black;
  padding: 20px 0;
}
.footer p {
  padding: 0 10%;
  color: white;
  margin: 0;
}
.container{
  width: 1250px;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  margin: auto;
}